<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <section id="preload" style="display: none;">
    <!-- Ionicons -->
    <ion-icon name="close"></ion-icon>
    <ion-icon name="cloud-upload-outline"></ion-icon>
    <ion-icon name="copy-outline"></ion-icon>
    <ion-icon name="document-lock-outline"></ion-icon>
    <ion-icon name="eye-off-outline"></ion-icon>
    <ion-icon name="eye-outline"></ion-icon>
    <ion-icon name="help-circle-outline"></ion-icon>

    <!-- logo -->
    <ion-img slot="start" class="headerImg" src="assets/icon/burn-after-reading.png"></ion-img>

    <!-- Ionic components -->
    <ion-alert></ion-alert>
    <ion-button></ion-button>
    <ion-buttons></ion-buttons>
    <ion-footer></ion-footer>
    <ion-header></ion-header>
    <ion-popover></ion-popover>
    <ion-content></ion-content>
    <ion-input></ion-input>
    <ion-input type="password" value="getdots"></ion-input>
    <ion-item></ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item-group></ion-item-group>
    <ion-spinner name="lines"></ion-spinner>
    <ion-label></ion-label>
    <ion-list></ion-list>
    <ion-loading></ion-loading>
    <ion-modal></ion-modal>
    <ion-segment></ion-segment>
    <ion-segment-button></ion-segment-button>
    <ion-text></ion-text>
    <ion-title></ion-title>
    <ion-toast></ion-toast>
    <ion-toolbar></ion-toolbar>
  </section>
</ion-app>
