.ios .segment-select {
  background: var(--ion-background-color);
}

.messageArea {
  margin-top: 0px !important;
  padding: 10px;
  background: var(--interaction-background);
  resize: none;
  border-width: 0px;
  padding-bottom: 25px;
}

.messageArea:focus {
  outline: none !important;
  border:1px solid var(--ion-color-light-tint);
}

.dropArea {
  display: flex;
  background: var(--interaction-background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-width: 2px;
  border-color: var(--ion-color-medium);
  color: var(--ion-color-medium);
  border-radius: 5px
}

.dropAreaMobile {
  border-width: 0px !important;
}

.dropArea ion-input {
  color: var(--ion-color-light);
}

.encryptionPw {
  font-size: medium;
}

.dropAreaFilled {
  padding: 15px;
  display: flex;
  background: var(--interaction-background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-medium);
  border-radius: 5px
}

.innerGrid {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 12fr;
  grid-gap: 5px;
}

.expand-to-fill {
  flex: 1 1 auto;
}

.consulate-expand-to-fill{
  height: 68%
}

ion-segment.ios {
  margin: 10px 0px;
}

.uploaded-image {
  border: 0;
  max-height: 85%;
  position: absolute;
  top: 15px;
  top: 2%;
  max-width: 95%;
}

.keyboard-dismiss {
  position: relative;
  height: 12px;
  top: -13px;
  margin: 0px;
  padding: 0px;
  --border-radius: 0px;
  font-size: x-small;
  border-style: outset;
  border-width: 0.5px;
  border-color: black;

}