<ion-header *ngIf="{ state: $state$ | async } as vars">
  <ion-toolbar class="top-bar">
    <ion-img slot="start" class="headerImg" src="assets/icon/burn-after-reading.png"></ion-img>
    <ion-title style="padding: 6px">
      <ion-text>Burn After Reading</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="vars.state !== WriteViewState.UNAUTH" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content
  *ngIf="{ shields: shields$ | async, state: $state$ | async } as vars"
  style="--overflow: hidden"
>
  <!-- Framed Content -->
  <div class="framed-content">
    <div class="shield top-shield" [class.no-top-shield]="!vars.shields" style="flex-direction: column; justify-content: space-evenly">
      <ion-label
        *ngIf="vars.state === WriteViewState.FINISHED"
        class="ion-text-wrap label"
        style="padding: 10px; max-width: 95%"
      >
        <ion-text color="medium" style="font-size: small">Your content is accessible at the following address:</ion-text>
        <div class="url-label">
          <div style="align-self: center">{{ url }}</div>
          <ion-button
            slot="icon-only"
            style="place-self: center; margin: 0px; "
            (click)="copy(url)"
            fill="clear"
          >
            <ion-icon color="primary" name="copy-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-label>

      <ion-label
        *ngIf="vars.state === WriteViewState.UNAUTH"
        class="label"
        style="padding: 12px; display: flex; justify-content: space-between"
      >
        <ion-input
          id="login-input"
          [type]="auth.masked ? 'password' : 'text'"
          [(ngModel)]="auth.value"
          [placeholder]="config.isDemo ? 'Enter &quot;demo&quot;' : 'Enter your password'"
          (keyup)="loginOnEnter($event)"
        ></ion-input>
        <ion-button size="small" slot="end" fill="clear" (click)="auth.masked = !auth.masked">
          <ion-icon slot="icon-only" [name]="auth.masked ? 'eye-outline' : 'eye-off-outline'" color="medium"></ion-icon>
        </ion-button>
        <ion-button
          [disabled]="auth.value.length === 0"
          color="primary"
          size="small"
          (click)="login()"
          fill="outline"
        >
          Login
        </ion-button>
      </ion-label>
      <p *ngIf="config.isDemo && vars.state === WriteViewState.UNAUTH" class="ion-padding-start ion-padding-end">This instance of <a href="https://github.com/Start9Labs/burn-after-reading" noreferrer target="_blank">Burn After Reading</a> is hosted by <a href="https://start9.com" noreferrer target="_blank">Start9</a>. The password is "demo". To host a private instance of Burn After Reading, use <a href="https://github.com/Start9Labs/start-os" noreferrer target="_blank">StartOS</a>.</p>
    </div>
    <div class="shield middle-left-shield" [class.no-middle-left-shield]="!vars.shields"></div>
    <div class="shield middle-right-shield" [class.no-middle-right-shield]="!vars.shields"></div>
    <div class="shield bottom-shield" [class.no-bottom-shield]="!vars.shields"></div>

    <!-- beneath the shields -->
    <div class="innerGrid">
      <ion-list style="padding: 0px; flex: 0 1 auto; border-radius: 5px">
        <ion-item style="--background: #040404; font-size:small">
          <ion-icon style="margin-right: 10px; margin-left: -5px;" slot="start" (click)="presentAlertEncrypt()" size="small" name="help-circle-outline" color="primary"></ion-icon>
          <ion-input
            [type]="encrypt.masked ? 'password' : 'text'"
            [(ngModel)]="encrypt.value"
            placeholder="Encrypt (optional)"
            class="encryptionPw"
          ></ion-input>
          <ion-button slot="end" fill="clear" (click)="encrypt.masked = !encrypt.masked">
            <ion-icon
              slot="icon-only"
              [name]="encrypt.masked ? 'eye-outline' : 'eye-off-outline'"
              color="medium"
            ></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item style="--background: #040404; font-size: small" lines=none>
          <ion-label>Burns automatically in</ion-label>
          <ion-select [(ngModel)]="selectedExpiration">
            <ion-select-option *ngFor="let option of expirationOptions | keyvalue: asIsOrder" [value]="option.key" [disabled]="option.value.disabled">{{option.value.display}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <div style="flex: 0 1 55px;">
        <ion-segment
          [(ngModel)]="upload.segment"
          class="segment-select"
          color="primary"
          (ionChange)="segmentChanged()"
        >
          <ion-segment-button value="message">
            <ion-label>Message</ion-label>
          </ion-segment-button>
          <ion-segment-button value="file">
            <ion-label>File</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <!-- message -->
      <div *ngIf="upload.segment === 'message'">
        <textarea
          class="messageArea"
          [(ngModel)]="upload.message"
          placeholder="Type Message"
          style="height: 100%; width: 100%; border-radius: 5px"
        >
        </textarea>
        <ion-button *ngIf="iosKeyboardOpen" expand="block" color="medium" class="keyboard-dismiss" (click)="dismissKeyboard()">Dismiss Keyboard
          <ion-input id="blur-me" style="opacity: 0; position:absolute; height: 0; width: 0;"></ion-input>
        </ion-button>
      </div>

      <!-- file upload -->
      <div
        *ngIf="upload.segment === 'file' && !upload.file"
        class="dropArea " [class.dropAreaMobile] = 'config.isMobile'
        appDnd
        (onFileDropped)="handleFileDrop($event)"
      >
        <ion-icon
          name="cloud-upload-outline"
          color="medium"
          style="font-size: 42px"
        ></ion-icon>
        <h4 color="medium">Upload File</h4>
        <h4 *ngIf="!config.isMobile" color="medium">or</h4>
        <br />
        <ion-button fill="outline" color="primary" type="file">
          <label for="upload-photo">Browse</label>
          <input
            type="file"
            style="position: absolute; opacity: 0; height: 100%"
            id="upload-photo"
            (change)="handleFileInput($event)"
          />
        </ion-button>
      </div>
      <!-- regular file uploaded -->
      <div class="dropAreaFilled" *ngIf="upload.segment === 'file' && upload.file && !upload.contentImage">
        <h4 style="text-align: center">{{ upload.file.name }}</h4>
        <h6>{{ upload.readableFileSize }}</h6>
        <br />
        <ion-button fill="outline" color="danger" (click)="reset('file')">Remove</ion-button>
      </div>
      <!-- image file uploaded -->
      <div class="dropAreaFilled" style="position: relative; padding: 0px" *ngIf="upload.segment === 'file' && upload.file && upload.contentImage">
        <img [src]="upload.contentImage" class="uploaded-image">
        <ion-button fill="clear" color="danger" size="small" style="position: absolute; bottom: 2%; margin: 0px !important" (click)="reset('file')">
          Remove ({{upload.readableFileSize}})
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="{ state: $state$ | async } as vars" class="bottom-bar">
  <div class="btnRight">
    <ion-button class="invisible" disabled="true" fill="outline" color="primary">New</ion-button>
    <ion-button *ngIf="vars.state === WriteViewState.WRITING"
      [disabled]="(!upload.message && !upload.file) || (shields$ | async)"
      (click)="save()"
      fill="outline"
      color="primary"
    >
      Save
    </ion-button>
    <ion-button *ngIf="vars.state === WriteViewState.FINISHED" (click)=newPaste() fill="outline" color="primary">New</ion-button>
  </div>
</ion-footer>
